<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Elixir Vietnam">
    <title>Elixir Vietnam</title>
    <link rel=icon href="favicon.ico" type="image/png">
    <%= if is_prod do %>
    <link rel="stylesheet" href="<%= bundle_url %>/css/style.css?version=<%= version %>">
    <% end %>
  </head>
  <body class="infobar-offcanvas sidebar-collapsed">
    <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="route"></div>
    <script type="text/javascript" src="<%= bundle_url %>/js/vendors.js?version=<%= version %>"></script>
    <script type="text/javascript" src="<%= bundle_url %>/js/main.js?version=<%= version %>"></script>
  </body>
</html>
