#wrapper {
  width: 100%;
  position: relative;
}

#topnav {
  width: 100%;
}

// Header Style

.header-navbar-default {
  background-color: $exhub-white;
  box-shadow: inset 0 -1px 0 #E6EAEE;

  .exhub-logo-text {
    border: none;
    text-transform: uppercase;
    font-weight: $exhub-font-weight-bold;
    width: 44px;
    height: 44px;
    padding: 10px 0 0 0;
    background: $exhub-white;

    @include gradient-y(#1991EB, #2DA1F8);
  }
}

.navbar-content {
  width: 100%;
}

.exhub-nav-link {
    font-weight: $exhub-link-font-weight-bold; 
    font-size: $exhub-font-size-sm; 
    color: #9FA9BA; 
    padding: 0.5em 1.25em;

    &:hover {
      color: #354052;
    }

    &.active {
      color: #354052;
    }
  }

  .btn-new-post {
    @include gradient-y(#1991EB, #2DA1F8);
    border-color: #1585D8;
    padding: 5px 10px;
  }
